.hero {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 510px;
  justify-content: center;

  .subtitle {
   margin-left: 246px;
   margin-bottom: 1px;
   font-family: 'Roboto', sans-serif;
   font-size: 30px;
   font-weight: 100;;
  }

  .title {
    margin-left: 84px;
    font-family: 'Roboto', sans-serif;
    font-size: 65px;
    font-weight: 400;
    margin-top: 1px;
  }
}